/* tailwindCSS requires */
@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes moveRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.content .container .top .icon{
    animation: moveRight 10s linear infinite, resetPositionTop 10s 5s linear infinite;
    transform: translateX(0);
}

.content .container .bottom .icon{
    animation: moveLeft 10s linear infinite, resetPositionBottom 10s 5s linear  infinite;
    transform: translateX(100%);
}

@keyframes resetPositionTop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes resetPositionBottom {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
