/* tailwindCSS requires */
@tailwind base;
@tailwind components;
@tailwind utilities;




.content .container .top {
    animation: moveRight 10s linear 0s infinite normal none  ;
    /* transform: translateX(0); */
}

/* .content .container .bottom .icon{
    animation: moveLeft 10s linear infinite, resetPositionBottom 10s 5s linear  infinite;
    transform: translateX(100%);
} */




@keyframes moveRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-230px* 8));
    }

}

@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
    
}

0% {
    transform: translateX(0);
}


100% {
    transform: translateX(calc(-230px* 8));
}